<nav>
    <div class="site-title">
        <a href="/"><h1>Home</h1></a>
        <p>Home PANHAPOUN</p>
    </div>
    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/about">About Page</a></li>
        <li><a href="/blogs/create">New Homepage</a></li>
    </ul>
</nav>