<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node-Learning | <%= title %></title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Home</h1></a>
            <p>Home PANHAPOUN</p>
        </div>
        <ul>
            <li><a href="/">Homeblogs</a></li>
            <li><a href="/about">About Blogs</a></li>
            <li><a href="/blogs/create">New Homeblogs</a></li>
        </ul>
    </nav>
    <div class="not-found content">
        OOPS, Page not found :)
    </div>
</body>
</html>